#courses-nav-dropdown{
    color: white !important;
}
#colleges-nav-dropdown{
    color: white !important;
}
.nested-dropdown {
    position: absolute; /* Position it absolutely */
    left: 100%; /* Position it to the right of the parent */
    top: 0; /* Align it to the top */
    background-color: #343a40; /* Match your navbar color */
    z-index: 1000; /* Ensure it appears above other elements */
    padding: 0; /* Adjust padding as needed */
  }
  
  .nested-dropdown .dropdown-item {
    white-space: nowrap; /* Prevent text from wrapping */
  }
  